{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block custom_styles %}
    <link rel="stylesheet" href={% static 'accounts/css/styles.css' %}>
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/register.js' %}></script>
{% endblock %}

{% block content %}
    <form method="post" action="" id="register_form" enctype="multipart/form-data"> {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="field">
            <label for="{{ field.id_for_label }}">{{ field.label }}

            </label>
            {{ field|add_class:'input' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
    {% endfor %}
    <div class="columns is-centered">
        <input type="submit" value="SAVE SETTINGS" class="button" id="submit-btn" />
    </div>
    </form>

    <div class="error-container">

    </div>
{% endblock %}


