/*
  Importing Google Fonts

  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Kanit', sans-serif;

*/

@import url('https://fonts.googleapis.com/css?family=Kanit|Lato|Nunito|Open+Sans|Oxygen&display=swap');

/* Declaration of SASS variables and fonts */

$light_color: #ffff80;
$light_green: #9fff80;

$kanit: 'Kanit', sans-serif;
$open_sans: 'Open Sans', sans-serif;
$nunito: 'Nunito', sans-serif;
$oxygen: 'Oxygen', sans-serif;
$lato: 'Lato', sans-serif;


.main-container {
    background: url('../images/back.jpg');
    min-height: 100vh;
    width: 100%;
    padding-bottom: 1rem;
}

.navbar-item {
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container {
    width: 60%;
    margin: auto;
}

.card-header {
    padding: 1rem;
}

.card-content {
    color: #1d72aa;
}

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.profile-container {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
  padding: 1rem auto;

  .card-content {
    p {
      margin: 0.8rem auto;
      color: #34a85c;
      font-size: 1rem;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;

    p {
      color: #3ec46d;
      font-family: "Lucida Console", sans-serif;
      font-size: 1.2rem;
    }
  }
  img {
    height: 300px;
    width: 50%;
    margin: 1rem auto;
  }
}

.repo-container {
  width: 70%;
  margin: 1rem auto;

  .card {
    .card-header {
      display: flex;
      justify-content: center;
      color: #00b89c !important;
      font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  }
}

/* Styling the navbar */
.navbar {
  .navbar-item {
    .buttons .subtitle {
      margin-top: 0.5rem;
      margin-right: 1rem;
    }
  }
}

/* Styling error containers */
.error-container {
    margin: 1.5rem auto;
    width: 70%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 7px #fff;
    border-radius: 0.3rem;
    padding: 1rem;
    font-family: fantasy;
    letter-spacing: 1px;
    word-spacing: 0.3rem;
    font-size: 2.2rem;
}

.single-repo-container {
  width: 60%;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #FFF;

  .repo-header {
    margin-bottom: 1rem;
    background-color: darken(#FFF, 12%);
    padding: 1rem;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .footer {
    text-align: center;
    padding: 1rem;

    button {
      margin: 1rem;
      color: #fff8de;
      min-width: 120px;
      font-family: $kanit;
      transition: all 0.5s ease-out;

      &:hover {
        color:lightcyan;
      }
    }
  }
}

#info-container {
  width: 70%;
  margin: auto;
  margin-top: 1.5rem;
  background-color: #00c4a7;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  display: none;
  color: mintcream;
  font-family: $nunito;
  font-size: 2rem;
}

/* Styling Container which contains all saved profiles */
.all_profile_container {
  .card {
    margin: 2rem auto;
    padding: 0.5rem;
    width: 50%;

    .card-image {
      display: flex;
      justify-content: center;
      padding: 1rem auto;
      img {
        border-radius: 2%;
      }
    }

    .card-header {
      display: flex;
      justify-content: space-around;

      a {
        padding-top: 0.5rem;
      }
    }

    .content {
      padding-top: 1rem;
      font-size: 1.3rem;
    }
  }
}

