{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Django Github - Test Page 2{% endblock %}
{% block custom_styles %}
    <link rel="stylesheet" href={% static 'accounts/css/styles.css' %}>
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/test.js' %}></script>
{% endblock %}

{% block content %}
    <p class="is-size-4 has-text-white">Token Authentication Test</p>
    <button id="test-button" class="button">Click to Test</button>
{% endblock %}
