{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Layout Page {% endblock %}
    </title>
    <link rel="stylesheet" href={% static 'css/bulma.min.css' %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
    {% block custom_styles %}
    {% endblock %}
    <style>

    </style>
</head>
<body>

<div class="main-container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href={% url 'accounts:dashboard' %}>
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Blog
        </a>

        <div class="navbar-dropdown">
            <a class="navbar-item" href={% url 'blog:create' %}>
                Create Blog
            </a>
            <a class="navbar-item" href={% url 'blog:list' %}>
                List Blog
            </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Forum
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href={% url 'forum:users' %}>
            Forum Users
          </a>
          <a class="navbar-item" href={% url 'forum:list-thread' %}>
            Thread List
          </a>
          <a class="navbar-item" href={% url 'forum:create-thread' %}>
            Create Thread
          </a>

        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href={% url 'github:search-user' %}>
            Search User
          </a>
          <a class="navbar-item" href={% url 'github:search-repo' %}>
            Search Repositories
          </a>
          <a class="navbar-item" href={% url 'github:search-topic' %}>
            Search Topics
          </a>

          <hr class="navbar-divider">
            <a class="navbar-item" href={% url 'github:list-user' %}>
                Favourite Users
            </a>
            <a class="navbar-item" href={% url 'github:saved-topics' %}>
                Favourite Topics
            </a>
            {% if user.is_authenticated %}
                <a class="navbar-item" href={% url 'accounts:settings' pk=request.user.id %} >
                    Change Account Settings
                </a>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if request.user.is_authenticated %}
            <p class="subtitle">Hello, {{ request.user }}</p>
          {% endif %}
          <a class="button is-primary" href={% url 'accounts:register' %}>
            <strong>Sign up</strong>
          </a>
          {% if request.user.is_authenticated %}
              <a class="button is-dark" href={% url 'accounts:logout' %}>
                Log Out
              </a>
          {% else %}
              <a class="button is-light" href={% url 'accounts:login' %}>
                Log In
              </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

    <div class="body-container">
        <div class="global-modal">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, reiciendis.</p>
        </div>
        {% block content %}

        {% endblock %}
    </div>
</div>

</body>
</html>