{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Github - List Stored Topics
    {% endblock %}
    {% block custom_styles %}
        <script src={% static 'js/jquery.js' %}></script>
        <script src={% static 'js/topic.js' %}></script>
    {% endblock %}
</head>
<body>

{% block content %}
    <div class="all_topic_container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="has-text-white"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <div class="edit-modal">
            <div>
                <label for="edit_description">Edit Topic Description</label>
                <textarea class="textarea" placeholder="e.g. Hello world" name="edit_description" id="edit_description"></textarea>
                <button class="button" id="submit-btn">Submit</button>
            </div>
        </div>
        <table class="table">
            <caption class="is-size-3">Saved Topics from <span class="has-text-success">Github</span></caption>
            <thead>
                <tr>
                    <th>Topic Name</th>
                    <th>Topic Description</th>
                    <th>Topic Score</th>
                </tr>
            </thead>
            <tbody>
            {% for each_topic in saved_topics %}
                <tr>
                    <td>{{ each_topic.topic_name }}</td>
                    <td>{{ each_topic.topic_description }} <i class="fa fa-edit" data-store-id={{ each_topic.pk }}></i></td>
                    <td>{{ each_topic.topic_score }}
                        <button class="button has-text-white has-background-primary">Search Repo</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

</body>
</html>