{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Django Github - List Threads{% endblock %}
{% block custom_styles %}
    <link rel="stylesheet" href={% static 'accounts/css/styles.css' %}>
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/forumUsers.js' %}></script>
{% endblock %}

{% block content %}
    <div class="search-container">
        <p class="has-text-centered is-size-3">User Search {{ page_obj }}</p>
        <div class="field">
          <label for="search_name">Enter Username to Search</label>
          <div class="control">
            <input class="input is-primary" name="search_name" id="search_name" type="text" placeholder="Enter Username to search for Users" />
          </div>
        </div>

        <div class="field">
          <label for="search_email">Enter Email to Search Users</label>
          <div class="control">
            <input class="input is-primary" name="search_email" id="search_email" type="text" placeholder="Enter Email to search for Users" />
          </div>
        </div>

        <button class="button" id="search-btn">Search Users</button>
    </div>

    <div class="forum-user-container">
        {% for each_user in all_users %}
            <div class="item-container">
                <p>{{ each_user.following_set.all }}</p>
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img alt="Placeholder image" src={{ each_user.profile_image.url }}>
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img alt="Placeholder image" src={{ each_user.profile_image.url }}>
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4">{{ each_user.username }}</p>
                        <p class="subtitle is-6">{{ each_user.email }}</p>
                      </div>
                    </div>

                    <div class="content">
                        {% if each_user.id in all_following_id %}
                        <button class="button unfollow-btn is-danger" data-store-id={{ each_user.id }}>Unfollow</button>
                        {% else %}
                            <button class="button follow-btn" data-store-id={{ each_user.id }}>Follow</button>
                        {% endif %}
                        <button class="button is-dark">Add Friend</button>
                        <button class="button is-link">View</button>
                    </div>
                  </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

