{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Django Github - List Threads{% endblock %}
{% block custom_styles %}
    <link rel="stylesheet" href={% static 'accounts/css/styles.css' %}>
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/login.js' %}></script>
{% endblock %}

{% block content %}
    <h2>List Thread Page</h2>

    {% for each_object in object_list %}
        <p class="is-size-3 has-text-white has-text-centered">{{ each_object.title }}</p>
        <p class="is-size-6 has-text-success">{{ each_object.content }}</p>
        <p>{{ each_object.thread_video.url }}</p>

        <video width="530" height="440" controls autoplay>
            <source src={{ each_object.thread_video.url }} type="video/mp4"> </source>
        </video>
    {% endfor %}
{% endblock %}

